<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="laika">

<!-- Load Laika URDF Files-->

    <xacro:include filename="laika.params.xacro" />
    <xacro:include filename="laika.macros.xacro" />
    <xacro:include filename="laika.base.xacro"/>
    <xacro:include filename="laika.control.xacro"/>
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />

</robot>
