<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

<!-- For use with RViz to check model and joints -->

    <xacro:arg name="use_ros2_control" default="false"/>
    <xacro:arg name="sim_mode" default="false"/>

    <xacro:include filename="config.xacro" />
    <xacro:include filename="common.xacro" />
    <xacro:include filename="robot.core.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu.xacro" />
   
</robot>
